html {
    scroll-behavior: smooth; 
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    
      
    margin: 0;
    background: linear-gradient(to bottom, rgb(27, 19, 54), rgb(26, 4, 97), rgb(42, 24, 42), rgb(255, 20, 255), rgb(255, 20, 255));
    padding-top: 60px; 
  }
  .menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: rgb(215, 187, 255);
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .menu label {
    margin: 0 10px;
    padding: 10px 20px;
    background: inherit;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
  }

  .menu label:hover{
    cursor: pointer;
    color: magenta;
  }
  .slide {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2em;
    border-bottom: 2px solid #ccc;
  }
  input[type="radio"] {
    display: none;
  }
  .prfl img{
    width: 120px;
    border-radius: 50%;
    position: relative;
    height: 130px;
    animation: ani 3s linear infinite;
  }
  @keyframes ani{
    50%{
        
        right: 10px;
        top: 15px;
        
    }
  }
  #test
  {
    color: rgb(255, 127, 255);

  }
  .slide h1{
    color: white;
  }
  .slide p{
    color: rgb(255, 255, 255);
  }
  .menu label.special {
    background-color:inherit;
    color: white;
    font-weight: bold;
    border: 5px solid;
    border-image-slice: 1;
    border-width: 3.5px;
    border-image-source: linear-gradient(to left,rgb(215, 67, 171), orange, yellow, green, blue, indigo, violet);
    font-weight: bold;
    
    cursor: pointer;
    transition: 0.3s;
  }
  .menu label.special:hover{
    color: magenta;
    background-color: rgb(43, 6, 45)
  }
  .defil img{
    width: 55px;
  }


  .defil {

    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: black;
  }

  .defil span {
    width: 40px;
    display: inline-block;
    color: white;
    padding-left: 100%;
    animation: defilement 15s linear infinite;
  }

  @keyframes defilement {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }